<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于知识图谱的企业风险预测系统</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/logo.jpg">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

        
    
    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">
   
    <script src="../static/js/pace.min.js"></script>
   


    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>

    
    <script src="../static/js/echarts.min.js"></script>


    <!--=================================================-->
    
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="../static/js/nifty-demo.min.js"></script>
       

</head>

<body>

    <div id="container" class="effect aside-float aside-bright mainnav-sm">
        
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="{{ url_for('index') }}" class="navbar-brand">
                        <img src="../static/images/logo.jpg" alt="Nifty Logo" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">褚旭毕设</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">

                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>
                        
                    
                    <ul class="nav navbar-top-links pull-left">
                        <h4>基于知识图谱的企业风险预测系统</h4>
                       



                    

                        
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    
				            <div class="row" style="height: 800px;" id="guanxi">
                
                    <script type="text/javascript">
                        window.onresize = function () {

                            myChart.resize();
                        }
                        $.ajaxSetup({ async: false });
                        var myChart = echarts.init(document.getElementById("guanxi"));
                        myChart.showLoading();
                        var rela = { "data": [], "links": [] };

                        $.getJSON('../static/data.json', function (json) {
                            rela = json;

                        });
                        //window.alert(JSON.stringify(rela));
                        myChart.hideLoading();
                        option = {
                            // backgroundColor: "white",
                            title: {
                                text: '企业投资关系图',
                                textStyle: {
                                    // color: "white",
                                    fontWeight: "lighter",
                                }
                            },
                            animationDurationUpdate: 1500,
                            animationEasingUpdate: 'quinticInOut',
                            legend: {//图例组件对应属性
                                x: "center",//x轴中心
                                show: true,
                                data: ["无风险企业","有风险企业"]
                            },
                            tooltip: {
                                    formatter: function(params) {
                                        if(params.dataType == "node"){
                                                 return `${params.marker} ${params.data.name}<br/> 成立年数: ${params.data.Rgst_years}年<br/>
                                                  注册资本: ${params.data.Corp_Rgst_Cap}万元<br/> 股东人数: ${params.data.Shareholders_Num}人<br/>
                                                  公司人数: ${params.data.Employees_Num}人<br/> 风险预测: ${params.data.Warning}<br/>`
                                        }
                                     }
                            },
                            series: [
                                {
                                    type: 'graph',
                                    layout: 'force',//图的布局:斥力图
                                    //symbolSize: 45,
                                    //edgeSymbol: ['circle', 'arrow'],
                                    //edgeSymbolSize: [4, 4],
                                    /*edgeLabel: {//显示边的标签
                                        normal: {
                                            show: true,
                                            textStyle: {
                                                fontSize: 10
                                            },
                                            formatter: "{c}"
                                        }
                                    },
                                    force: {
                                        repulsion: 2500,
                                        edgeLength: [10, 100]
                                    },*/
                                    focusNodeAdjacency: true,//选中后只突出选中目标
                                    draggable: true,//节点是否可拖拽
                                    roam: true,//可放大缩小
                                    categories: [{
                                        name: '无风险企业'

                                        // itemStyle: {
                                        //     normal: {
                                        //         color: "#009800",
                                        //     }
                                        // }
                                    },{
                                        name:'有风险企业'
                                    }],
                                    label: {
                                        normal: {
                                            position:'right',
                                            color:'#696969',
                                            //show: true,
                                            /*textStyle: {
                                                fontSize: 12
                                            },*/
                                        }
                                    },
                                    /*force: {
                                        repulsion: 1000//距离
                                    },*/

                                    /*lineStyle: {
                                        normal: {
                                            opacity: 0.9,
                                            width: 1,
                                            curveness: 0.3
                                        }
                                    },*/
                                    // progressiveThreshold: 700,
                                    nodes: rela.data.map(function (node, idx) {//map函数(currentValue, index, arr);currentValue:当前值；index:当前索引
                                        node.id = idx;//构建和弦图需要节点的id(索引)和name
                                        return node;//category分类，同一类别同一颜色
                                    }),
                                    links: rela.links,



                                }
                            ]
                        };
                        myChart.setOption(option, true);
                    </script>
                
                </div>
                    
            
					
					
					
                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

            
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                <ul id="mainnav-menu" class="list-group">
						
						            
                                  
                                    <!--Category name-->
						            <li class="list-header"> 企业投资关系可视化</li>
                        
                                    <!--Menu list item-->
                                    
                        
                                    <!--Menu list item-->
                                   <li>
                                        <a href="{{ url_for('search') }}">
                                            <i class="fa fa-search" style="width:24px"></i>
                                            <span class="menu-title">
                                                <strong>检索企业关系</strong>
                                            </span>
                                            
                                        </a>
                        
                                        
                                    </li>
                                    <li>
                                        <a href="{{ url_for('get_all_relation') }}">
                                            <i class="fa fa-pie-chart" style="width:24px"></i>
                                            <span class="menu-title">
                                                <strong>企业投资关系图</strong>
                                            </span>
                                            
                                        </a>
                        
                                    </li>
                                    <!--Menu list item-->
                                   
						          
                                   

						
						                                    </ul>


                                
                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>
        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

           <p class="pad-lft">Copyright&#0169; 大数据我冲冲冲  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved </p>

        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
   
</body>
</html>
